.container {
  width:800px;
  height:675px;
  margin: 0 auto;
  text-align: center;
  background-color:whitesmoke;
}

h1 {
  color: brown;
}

#timer {
  font-size: 35px;
  margin-bottom: 20px;
}

#textToType {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}
#incorrect{
  color: red;
}
#correct{
  color: green;
}
#userInput {
  width: 70%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}

#result {
  margin-bottom: 20px;
}

#startButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color:gray;
}

